.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),  url(../images/hero/hero-mobile.jpg);
  background-repeat: no-repeat;
  padding-top: 118px;
  padding-bottom: 118px;

  &-title {
    font-family: $main-font;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    max-width: 380px; 
    text-align: center;   
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;

    &-title {
      font-size: 44px;
      line-height: 1.364;
    }
  }
}





/*
.hero {
    text-align: center;
    max-width: 1600px;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
    
    &-title {
      padding-top: 200px;
      padding-left: 236px;
      padding-right: 236px;
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.364;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
}*/