.backdrop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 1024px;
    background: rgba(0, 0, 0, 0.2);
    transition: all 250ms $timing-function;
    
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 250ms linear 250ms
    }
}

.close {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #FFFFFF;
    
    &-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background: #FFFFFF;
        border: 0px;
        cursor: pointer;
    }
}