.form {
    &-title {
        font-family: $main-font;
        font-style: 700;
        font-weight: bold;
        font-size: 20px;
        line-height: 1,15;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 12px;
    }
    
    &-field { 
       position: relative;
       display: flex;
       flex-direction: column;
       padding-left: 40px;
       padding-right: 40px;
        
    }
    
    &-label {
       display: flex;
       padding-bottom: 4px; 
       font-family: $main-font;
       font-weight: 400;
       font-size: 12px;
       line-height: 1,167;
       letter-spacing: 0.01em;
       color: #757575;
       
       &:nth-last-child(n+2) {
            padding-top: 10px;
           
       }
    }
    
    &-input {
        width: 100%;
        height: 40px;
        padding-left: 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
        outline-color: $accent-color;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        
        &:hover,
        &:focus {
            border-color: $accent-color;
        }
        
        .form-field:focus-within & {
            border: 1px solid #2196F3;
        }
    }
    
    &-coment {
       width: 448px;
       height: 120px;
       padding: 12px 16px;
       border: 1px solid rgba(33, 33, 33, 0.2);
       box-sizing: border-box;
       border-radius: 4px;
       font-family: $main-font;
       ont-weight: 400;
       font-size: 14px;
       line-height: 1,143;
       letter-spacing: 0.01em;
       resize: none;
       outline-color: $accent-color;
       transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
       &:hover,
       &:focus {
           border-color: $accent-color;
       }
       
       .form-field:focus-within & {
           border: 1px solid #2196F3;
       }
    }
    
    &-chekbox {
       margin-top: 20px;
       margin-right: 51px;
       margin-left: 52px;
       margin-bottom: 30px;
    }
}

.icon {
    .form-field:focus-within & {
        fill: #2196F3;
    }
}

.form-pericon-svg,
.form-phone-svg,
.form-email-svg {
    position: absolute;
    bottom:11px;
    left: 52px;
    width: 18px;
    height: 18px;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

.label {
    &-checkbox {
        font-family: $main-font;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: #757575;
        
        
        &::before {
            display: inline-block;
            content:"";
            width: 16px;
            height: 15px;
            outline: solid 1px #212121;
            margin-right: 8px;
            
            .checkbox:checked + & {
              background-color: #2196F3;
              background-image: url(../images/form/icon-check.svg);
              outline: solid 1px $accent-color;
              transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
}

.button {
    &-submit {
        display: inline-block;
        margin-right: 164px;
        margin-left: 164px;
        margin-bottom: 40px;
        padding: 10 55;

        font-style: $accent-color;
        font-weight: 700;
        font-size: 16px;
        line-height: 1,875;
        letter-spacing: 0.06em;
        color: #FFFFFF;

        width: 200px;
        height: 50px;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            background-color: #188CE8;
            outline-color: $accent-color;
        }
    }
}
